<p><%= link_to "Complete Coffee Bean List", "/coffeebeans" %> </p>
<p><%= link_to "Complete Roaster List", "/roasters" %> </p>

<h1>Create A Roaster</h1>

<%= form_tag '/roasters' do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %></br></br>
    <%= label_tag :micro, "Is it a microroastery?: " %>
    <%= text_field_tag :micro %></br></br>
    <%= label_tag :subscription_service, "Does it offer subscription services?: " %>
    <%= text_field_tag :subscription_service %></br></br>
    <%= label_tag :location, "Location: " %>
    <%= text_field_tag :location %></br></br>

    <%= submit_tag 'Create Roaster' %>

<% end %>