<h1><%= @roaster.name %></h1>
<%= link_to "Edit", "/roasters/#{@roaster.id}/edit"%>
<li>
    <ul>Microroastery: <%= @roaster.micro %></ul>
    <ul>Subscription Services: <%= @roaster.subscription_service %></ul>
    <ul>Location: <%= @roaster.location %></ul>
    <ul>Created At: <%= @roaster.created_at %></ul>
    <ul>Updated At: <%= @roaster.updated_at %></ul>
</li>