<%= link_to 'welcome', "/" %>
<%= link_to 'authors index', "/authors" %>
<%= link_to 'books index', "/books" %>
<h1>All Books by <%= link_to "#{@author.name}", "/authors/#{@author.id}" %></h1>
<p>This author has <%= @author_books.count %> books</p>

<p><%= link_to 'Sort by alphabetical name', author_book_new_path(:sort => "alphabetical") %></p>

<% @author_books.each do |book|%>
<p>Name: <%= link_to "#{book.name}", "/books/#{book.id}" %></p>
<p>Publication_date: <%= book.publication_date %></p>
<p>Pages: <%= book.pages %></p>
<p>Currently_printed: <%= book.currently_printed %></p>
<% end %>

<%= link_to 'New Book', "/authors/#{@author.id}/books/new" %>