<p><%= link_to "Complete Coffee Bean List", "/coffeebeans" %> </p>
<p><%= link_to "Complete Roaster List", "/roasters" %> </p>

<h1>Coffee Beans By <%= link_to @roaster.name, "/roasters/#{@roaster.id}" %></h1>
<h3><%= @roaster.coffee_count %> types of coffee beans</h3>
<%= link_to "Sort beans by alphabetical order", roaster_coffee_path(:sorted_by_alpha => "sorted_by_alpha") %>
</br></br>
<% @roaster_sorted.each do |coffee_bean| %>
    <%= link_to "#{coffee_bean.name}", "/coffeebeans/#{coffee_bean.id}" %>
    <p>Created at: <%=  coffee_bean.created_at%></p></br></br>
<% end %>
<%= link_to "Create Beans", "/roasters/#{@roaster.id}/coffeebeans/new" %>